@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@theme {
  --font-sans:
    "Nunito", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;

  --color-primary-900: #350ba4;
  --color-primary-800: #4c1cb0;
  --color-primary-600: #662cbf;
  --color-primary-300: #9d71d7;
  --color-primary-100: #d4c3ed;
  --color-primary-50: #eee7f7;

  --color-orange-900: #af3310;
  --color-orange-800: #c74019;
  --color-orange-600: #e24c21;
  --color-orange-400: #ef6c43;
  --color-orange-200: #f4a790;
  --color-orange-100: #f9c9bb;

  --color-black: #000000;
  --color-grey-800: #262626;
  --color-grey-600: #555555;
  --color-grey-200: #d9d9d9;
  --color-grey-100: #ffffff;

  --color-success: #3a8f75;
  --color-success-light: #e7f4e8;
  --color-error: #ed2b3b;
  --color-error-light: #ffe2e5;

  --text-h1: 40px;
  --leading-h1: 46px;
  --text-h2: 28px;
  --leading-h2: 34px;
  --text-h3: 20px;
  --leading-h3: 28px;
  --text-subheading: 18px;
  --leading-subheading: 26px;
  --text-body: 16px;
  --leading-body: 22px;
  --text-text-s: 12px;
  --leading-text-s: 18px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

@layer base {
  html {
    @apply font-sans;
  }

  h1 {
    @apply font-bold text-h1 leading-h1;
  }
  h2 {
    @apply font-bold text-h2 leading-h2;
  }
  h3 {
    @apply font-bold text-h3 leading-h3;
  }

  h4,
  .subheading {
    @apply font-normal text-subheading leading-subheading;
  }
  p,
  .body {
    @apply font-normal text-body leading-body;
  }
  .text-s {
    @apply font-normal text-text-s leading-text-s;
  }
}
